nav.nav-produtos{
    background: $cor-secundaria;
    color: $branco;
    padding: 5px;
    ul.nav{
        li{
            position: relative;
            padding: 10px 0;
            svg{
                margin-right: 8px;
                font-size: 20px;
            }

            &:hover{
                ul.nav{
                    display: block;

                }
            }

            ul.nav{
                z-index: 999;
                position: absolute;
                top: 40px;
                display: none;
                width: 80%;
                padding: 10px 25px;
                background: $cor-secundaria;
                border-top: solid $cor-primaria 10px;

                li{
                    text-decoration: none;
                }
            }
        }
    }
}